.container-favoritos {
    display: flex;
   flex-direction: column;
}

.container-favoritos-filmes {
    display: flex;
    flex-wrap: wrap;
    align-items: last baseline;
    justify-content: center;
}

.container-favoritos-filmes .span-vazio {
    margin: 20px;
    font-size: 24px;
    font-weight: bold;
    color: red;
}