.container-filme {
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
}

.container-filme-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    background-color: #CCC;
       
    width: 90%;
    max-width: 900px;

}
.container-filme-card h2 {
    margin: 20px 0;
}
// width = largura
// height = altura
.container-filme-card img {
   width: 70%;
    margin-bottom: 20px;
}
.container-filme-card p {
    padding: 0 15% 20px;
}

.container-filme-card .botoes {
    display: flex;
    width: 50%;
}

.container-filme-card button {
    margin: 20px;
    cursor: pointer;
    height: 40px;
    width: 50%;
    color: #FFF;
    font-weight: bold;
    border-radius: 8px;
    transition: 0.7s;
}

.container-filme-card .button-favorito {
    background-color: #0074EE;
}

.container-filme-card .button-favorito:hover {
    background-color: #0073ee75;
}

.container-filme-card .trailler {
      background-color: #FF0000;
}
.container-filme-card .trailler:hover {
          background-color: #ff000080;

}


.container-filme-card .trailler a{
    color: #FFF;
    font-weight: bold;
}


