.header {
    height: 130px;
    width: 100%;
    background-color: #141414;
    display: flex;
    position: relative;
}
.header a {
    color: #FFF;

}
.header .logo {
    background-image:  url('../../imagens/pipoca.png')  ;
    background-repeat: no-repeat;
    
    width: 100%;
    margin-left: 10px;
}


.header nav ul {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 50px;
}
.header nav ul li {
    font-size: 24px;
    margin-left: 10px;
    padding: 10px;
    border-radius: 8px;
}

@media(max-width: 600px){
   
    .header nav ul {
        right: 0;
        height: 130px;
        width: 300px;
       
        flex-wrap: wrap;
    }
}